<%- include("partials/header.ejs") %>

<h1>Create Your VERY OWN Meal Tracker!</h1>
<section class="buttons">
    <a href="/login"> Login</a>
    <a href="/signup"> Signup</a>    
</section>

<%- include("partials/footer.ejs") %>
